@charset "UTF-8";
:root {
  --negro: #393939;
  --blanco: #ececec;
  --sombra-ppal: #c9c9c9;
  --sombra-sec: #ffffff;
  --borde-negro: #00000050;
  --marcado: rgb(127, 195, 255);
  /* Tipografía */
  --tipo-principal: "Expletus Sans", cursive;
  --tipo-secundaria: "Hind Siliguri", sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  color: black;
}

/* HEADER */
.header {
  width: 100%;
  padding: 0.5em;
  background-color: #6cbdb5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  color: white;
}

.header .logo {
  display: flex;
  flex-flow: row nowrap;
}

.header .a {
  font-family: var(--tipo-principal);
  font-size: 1.5em;
}

.header img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.header .button {
  display: none;
}

.header .svg {
  width: 2em;
  height: 2em;
  fill: white;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.header .li {
  margin: 0 0.5em;
}

@media screen and (max-width: 768px) {
  .header .button {
    display: block;
    cursor: pointer;
  }
  .header .nav {
    width: 100%;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all 0.5s ease;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .header .nav.activo {
    height: 40vh;
    pointer-events: auto;
  }
  .header .ul {
    flex-direction: column;
  }
  .header .li {
    margin: 1rem 0;
  }
  .header .a {
    font-family: var(--tipo-principal);
    font-size: 1em;
  }
}
/* FOOTER */
.footer {
  background-color: #6cbdb5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .logo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  width: 5em;
  height: 5em;
}

.footer .redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}

.footer .svg {
  fill: black;
}

.footer .p {
  color: black;
}

@media screen and (max-width: 768px) {
  .footer .logo {
    width: 3em;
    height: 3em;
    margin-left: 0.1em;
  }
  .footer .svg {
    padding: 1px;
    width: 16px;
    height: 16px;
  }
  .footer .p {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    background-color: #6cbdb5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.maininicio .sectioninicio {
  display: flex;
  align-items: center;
  position: relative;
}

.maininicio .imgbanner {
  height: 100vh;
}

.maininicio .cabecera {
  position: absolute;
  display: flex;
  align-items: center;
}

.maininicio .h1 {
  font-family: var(--tipo-principal);
  color: white;
  font-size: 10em;
  padding-left: 0.4em;
  text-shadow: 5px 2px 6px #FFFFFF;
}

.maininicio .gridtexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.gridtexto .left {
  grid-area: left;
  padding-top: 1em;
}

.gridtexto .right {
  grid-area: right;
  padding-top: 1em;
}

.left .h2 {
  text-align: center;
  font-family: var(--tipo-principal);
  font-size: 5rem;
}

.left .p {
  text-align: center;
  font-family: var(--tipo-secundaria);
  font-size: 1.3em;
  margin: 2em 3em;
}

.right .h3 {
  text-align: center;
  font-family: var(--tipo-principal);
  font-size: 2em;
}

.acordeon {
  width: 90%;
  max-width: 50em;
  padding: 1em;
  margin: 3em;
  border-radius: 57px;
  background: linear-gradient(145deg, rgba(157, 218, 212, 0.7058823529), #84b8b2);
  box-shadow: 5px 5px 0px #92cac4, -5px -5px 0px #94cec8;
}

.acordeon .bloque {
  margin: 0 0 1em;
  padding: 1em;
  border-radius: 57px;
  background: linear-gradient(145deg, #9ddad4, #84b8b2);
  box-shadow: 5px 5px 0px #92cac4, -5px -5px 0px #94cec8;
}

.acordeon .h5 {
  margin: 0 0 1em;
  padding: 1em;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.acordeon .contenido {
  height: 0;
  padding: 0em;
  overflow: hidden;
  transition: all 0.5s ease;
  color: white;
}

.acordeon .bloque.activo .contenido {
  height: auto;
  padding: 0.5em;
}

.maininicio .grideventos {
  margin: 1em 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 4em;
}

.grideventos .article {
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

.grideventos img {
  width: 450px;
}

.grideventos .h5 {
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8em;
  font-family: var(--tipo-secundaria);
  font-style: italic;
  opacity: 0;
  transform: translateZ(1) scale(1.5);
  transition: all 0.5s ease;
}

.grideventos .article:hover .h5 {
  opacity: 1;
  transform: translateZ(1) scale(1);
  font-size: 3.5rem;
}

.grideventos .h4 {
  font-family: var(--tipo-principal);
  font-size: 10em;
  transform: rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .maininicio .h1 {
    font-size: 6em;
  }
  .maininicio .gridtexto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "left" "right";
  }
  .left .h2 {
    font-size: 3rem;
  }
  .left .p {
    font-size: 1em;
  }
  .right .h3 {
    font-size: 2em;
  }
  .acordeon .h5 {
    padding: 0.5em;
    margin: 0;
    border-radius: 50px;
    cursor: pointer;
    color: white;
  }
  .acordeon .contenido {
    height: 0;
    padding: 0em;
    overflow: hidden;
    transition: all 0.5s ease;
    color: white;
  }
  .acordeon .bloque.activo .contenido {
    height: auto;
    padding: 0.5em;
  }
  .maininicio .grideventos {
    margin: 1em 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5em;
  }
  .grideventos .article {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
  }
  .grideventos img {
    width: 350px;
    height: 300px;
  }
  .grideventos .h5 {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8em;
    font-family: var(--tipo-secundaria);
    font-style: italic;
    opacity: 0;
    transform: translateZ(1) scale(1.5);
    transition: all 0.5s ease;
  }
  .grideventos .article:hover .h5 {
    opacity: 1;
    transform: translateZ(1) scale(1);
    font-size: 3.5rem;
  }
  .grideventos .h4 {
    font-family: var(--tipo-principal);
    font-size: 5em;
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 500px) {
  .maininicio .imgbanner {
    height: 50vh;
  }
  .maininicio .h1 {
    font-size: 4em;
  }
  .acordeon {
    width: 90%;
    max-width: 50em;
    padding: 0;
    margin: 0 1em 0 2em;
    border-radius: 57px;
    background: linear-gradient(145deg, rgba(157, 218, 212, 0.7058823529), #84b8b2);
    box-shadow: 5px 5px 0px #92cac4, -5px -5px 0px #94cec8;
  }
  .gridtexto .right {
    padding-right: 0.5em;
  }
  .right .h3 {
    margin-bottom: 1em;
  }
  .maininicio .grideventos {
    margin: 1em 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .grideventos .h4 {
    font-size: 3em;
    transform: rotate(0deg);
  }
  .grideventos img {
    width: 250px;
    height: 200px;
  }
}
.mainabout .sectionabout {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
}

.sectionabout .cabeceraabout {
  position: absolute;
}

.sectionabout .imgbanner {
  height: 100vh;
}

.sectionabout .h1 {
  font-family: var(--tipo-principal);
  color: white;
  font-size: 10em;
  padding-left: 0.4em;
  text-shadow: 5px 2px 6px #FFFFFF;
}

.sectionabout .h2 {
  font-family: var(--tipo-secundaria);
  font-size: 7.5em;
  padding: 0;
  color: white;
  text-shadow: 5px 2px 6px #FFFFFF;
  text-align: center;
}

.mainabout .h3 {
  text-align: center;
  font-family: var(--tipo-secundaria);
  font-size: 3em;
  margin: 0.5em;
}

.mainabout .p {
  text-align: center;
  font-size: 1.25em;
  margin: 0 6.5em;
}

.sectionstaff {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.sectionstaff img {
  height: 100vh;
}

.staff {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.staff .gridstaff {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: auto;
  margin: 0.5em 1em;
  gap: 5em;
}

.staff .card {
  position: relative;
  width: 20em;
  height: 25em;
  background: #2b364a;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.5s ease;
}

.staff .card:hover {
  box-shadow: -1px 1px 24px 3px #13c8b5;
  transform: translateY(-15px);
}

.staff .card .head {
  height: 125px;
  width: 100%;
  position: relative;
}

.staff .head .circulo {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #21a3a3;
  bottom: 0;
}

.staff .img {
  margin: 1em 5em;
  width: 150px;
  height: 150px;
  position: absolute;
  background: #ffffff;
  padding: 5px;
  border-radius: 50%;
}

.staff .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.staff .infostaff {
  padding-top: 3em;
  text-align: center;
  color: white;
}

.staff .h3 {
  font-family: var(--tipo-principal);
  font-size: 1.5em;
}

.staff .h4 {
  font-family: var(--tipo-secundaria);
  padding: 0.5em;
}

.staff .contactostaff {
  padding-top: 6.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff .contactostaff a {
  color: white;
  background: #21a3a3;
  padding: 5px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.staff .contactostaff a:hover {
  background: #6cf3d5;
}

@media screen and (max-width: 768px) {
  .sectionabout .h2 {
    font-size: 6em;
  }
  .sectionabout .h1 {
    font-size: 8em;
    padding-left: 0em;
  }
  .staff .gridstaff {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: auto;
    margin: 0.5em 1em;
    gap: 5em;
  }
  .staff .card {
    width: 15em;
    height: 20em;
  }
  .staff .head .circulo {
    width: 240px;
    height: 240px;
  }
  .staff .img {
    margin: 1em 3em;
  }
  .staff .infostaff {
    padding-top: 5em;
  }
}
@media screen and (max-width: 500px) {
  .sectionabout .cabeceraabout {
    margin-left: 5em;
  }
  .sectionabout .imgbanner {
    height: 50vh;
  }
  .sectionabout .h2 {
    font-size: 3em;
    padding-left: 1em;
  }
  .sectionabout .h1 {
    font-size: 4em;
    padding-left: 0.5em;
  }
  .mainabout .h3 {
    font-size: 2em;
    margin: 0.5em 0;
  }
  .mainabout .p {
    font-size: 1em;
    margin: 0em;
  }
  .sectionstaff img {
    height: 50vh;
  }
  .staff .gridstaff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: auto;
    margin: 0.5em 1em;
    gap: 1em;
  }
  .staff .card {
    width: 12em;
    height: 15em;
  }
  .staff .head .circulo {
    width: 190px;
    height: 190px;
    bottom: 3em;
  }
  .staff .img {
    margin: 0.5em 3em;
    width: 100px;
    height: 100px;
  }
  .staff .infostaff {
    padding-top: 1em;
  }
  .staff .h3 {
    font-size: 1em;
  }
}
/* MINISTERIOS */
.mainministerios {
  width: 100%;
}

.mainministerios .sectionministerios {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.sectionministerios .imgbanner {
  width: 100%;
  height: 100vh;
}

.sectionministerios .conteiner {
  position: absolute;
  display: flex;
  flex-direction: r;
  justify-content: center;
  align-items: center;
}

.sectionministerios h1 {
  font-family: var(--tipo-principal);
  font-size: 10em;
  color: white;
  text-shadow: 5px 2px 6px #FFFFFF;
  position: absolute;
  margin-bottom: 1em;
}

.cardministerios {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20em;
  height: 24em;
  margin-top: 27em;
  cursor: pointer;
}

.cardministerios .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.cardministerios .front {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardministerios .front h3 {
  font-family: var(--tipo-secundaria);
  font-size: 2em;
  color: #ffffff;
}

.cardministerios .front h4 {
  font-family: var(--tipo-secundaria);
  font-size: 1.2em;
  color: #ffffff;
  background: #2b364a;
}

.cardministerios .back {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.cardministerios .back h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 1em 0 1em 0;
}

.cardministerios .back p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3em;
}

.cardministerios:hover .front {
  display: none;
}

.cardministerios:hover .back {
  display: inline;
}

.sectionministerios .h2 {
  font-size: 3.5em;
  font-family: var(--tipo-secundaria);
  border-bottom: black solid;
}

.sectionministerios .actividadkid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sectionministerios .actividadleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.actividadkid .h3 {
  font-size: 2.5em;
}

.actividadkid .p {
  text-align: center;
  padding: 0 8em;
  font-size: 1.5em;
}

.sectionministerios .actividadright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  cursor: pointer;
  overflow: hidden;
}

.sectionministerios .actividadright img {
  width: 80%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.sectionministerios .actividadright img:hover {
  transform: scale(1.05);
}

a.polaroid {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 10px 20px 10px;
  width: 150px;
  border: 1px solid #BFBFBF;
  background-color: white;
  z-index: 2;
  font-size: 0.7em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.5s ease-in;
}

a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
  z-index: 7;
  border-color: #6A6A6A;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

.polaroid img {
  width: 250px;
  height: 250px;
}

a img {
  border: none;
  display: block;
}

.photo-album {
  position: relative;
  width: 80%;
  margin: 10em 5em 0em 10em;
  height: 69.3vh;
  bottom: 5.5em;
}

.photo-album .polaroid {
  position: absolute;
}

.photo-album h1 {
  position: absolute;
  z-index: 9;
  top: 200px;
  text-align: center;
  width: 100%;
  line-height: 1.9;
}

.photo-album h1 span {
  background-color: rgba(255, 255, 255, 0.575);
  font-family: var(--tipo-principal);
  font-size: 3em;
  padding: 0.3em;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid #6A6A6A;
}

.photo-album .small {
  width: 200px;
}

.photo-album .small img {
  width: 200px;
  height: 200px;
}

.photo-album .medium {
  width: 300px;
  padding: 13px 13px 26px 13px;
}

.photo-album .medium img {
  width: 300px;
  height: 300px;
}

.photo-album .large {
  width: 400px;
  padding: 20px 20px 30px 20px;
}

.photo-album .large img {
  width: 400px;
  height: 400px;
}

.photo-album .img1 {
  bottom: 2em;
  right: 20em;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
}

.photo-album .img2 {
  top: 4em;
  right: 0em;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.photo-album .img3 {
  left: 330px;
  top: 0;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.photo-album .img4 {
  top: 10px;
  left: 495px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.photo-album .img5 {
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg);
}

.photo-album .img6 {
  bottom: 10px;
  right: 156px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
}

.photo-album .img7 {
  bottom: 0;
  left: 400px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.photo-album .img8 {
  top: 300px;
  left: 740px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.photo-album .img9 {
  bottom: 0;
  left: 100px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.photo-album .img10 {
  top: 0;
  left: 1000px;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
}

.photo-album .img11 {
  top: 50px;
  right: 150px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.photo-album .img12 {
  top: 0;
  left: 780px;
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  transform: rotate(18deg);
}

.photo-album .img13 {
  top: 330px;
  right: 800px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
}

.photo-album .img14 {
  top: 150px;
  left: 350px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}

.photo-album .img15 {
  left: 176px;
  top: 20px;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

a:hover,
a:focus {
  z-index: 5;
}

.sectionministerios .cabecerajovenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.sectionministerios .imgjovenes {
  width: 100%;
  height: 100vh;
}

.cabecerajovenes h2 {
  font-size: 5em;
  font-family: var(--tipo-principal);
  color: #ffffff;
}

.cabecerajovenes h3 {
  font-size: 3em;
  font-family: var(--tipo-secundaria);
  color: #ffffff;
  margin-top: 2em;
}

.cabecerajovenes p {
  font-size: 1.5em;
  color: #ffffff;
  text-align: center;
  margin: 0em 13em;
  padding: 1em;
}

.ministeriojovenes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.ministeriojovenes .eventojoven {
  font-size: 5em;
  font-family: var(--tipo-secundaria);
  color: black;
}

.ministeriojovenes .eventojovenes {
  font-family: var(--tipo-principal);
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 530px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  border-radius: 2%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.ministeriojovenes .eventojovenes * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.eventojovenes img {
  max-width: 100%;
  vertical-align: top;
}

.eventojovenes figcaption {
  position: absolute;
  top: 90%;
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}

.eventojovenes figcaption:before {
  position: absolute;
  content: "";
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

.eventojovenes h3 {
  margin: 0 0 10px;
  font-family: var(--tipo-secundaria);
  text-align: center;
}

.eventojovenes h4 {
  margin: 0 0 10px;
  font-family: var(--tipo-secundaria);
  text-align: center;
}

.eventojovenes p {
  margin: 0 0 10px;
  font-family: var(--tipo-secundaria);
  text-align: center;
}

.eventojovenes h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
}

.eventojovenes p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.eventojovenes a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.eventojovenes:hover figcaption,
.eventojovenes.hover figcaption {
  top: 420px;
}

/* CONTACTO */
.maincontacto {
  width: 100%;
  height: 86vh;
  position: relative;
  padding-top: 7em;
}

.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  .actividadkid .p {
    padding: 0;
  }
  .photo-album {
    margin: 5em 0 5em 0;
  }
  .photo-album h1 {
    left: 100px;
  }
  .photo-album .large {
    width: 300px;
    height: 300px;
  }
  .photo-album .large img {
    width: auto;
    height: 260px;
  }
  .photo-album .medium {
    width: 200px;
    height: 200px;
  }
  .photo-album .medium img {
    width: auto;
    height: 160px;
  }
  .photo-album .small {
    width: 150px;
    height: 150px;
  }
  .photo-album .small img {
    width: auto;
    height: 130px;
  }
  .photo-album .img1 {
    bottom: 8em;
  }
  .photo-album .img3 {
    left: 150px;
  }
  .photo-album .img4 {
    left: 300px;
  }
  .photo-album .img5 {
    left: 700px;
  }
  .photo-album .img6 {
    right: 100px;
  }
  .photo-album .img7 {
    left: 850px;
  }
  .photo-album .img8 {
    left: 400px;
    top: 400px;
  }
  .photo-album .img10 {
    left: 840px;
  }
  .photo-album .img13 {
    right: 650px;
  }
  .photo-album .img14 {
    left: 180px;
  }
  .photo-album .img15 {
    left: 20px;
  }
  .cabecerajovenes h3 {
    margin-top: 1em;
  }
  .cabecerajovenes p {
    margin: 0 5em;
  }
  .ministeriojovenes .eventojoven {
    font-size: 4em;
  }
  .ministeriojovenes .eventojovenes {
    min-width: 300px;
    max-width: 400px;
  }
  .eventojovenes figcaption {
    top: 80%;
  }
  .eventojovenes:hover figcaption,
  .eventojovenes.hover figcaption {
    top: 250px;
  }
  .eventojovenes h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 768px) {
  .sectionministerios h1 {
    font-size: 5em;
  }
  .sectionministerios .h2 {
    font-size: 3em;
  }
  .cardministerios {
    width: 15em;
    height: 19em;
    margin-top: 15em;
  }
  .cardministerios .front h3 {
    font-size: 1.7em;
  }
  .cardministerios .back h3 {
    font-size: 1.7em;
  }
  .cardministerios .back p {
    font-size: 1em;
  }
  .actividadkid .h3 {
    font-size: 2em;
  }
  .actividadkid .p {
    font-size: 1.2em;
  }
  .photo-album h1 {
    left: 100px;
    top: 100px;
  }
  .photo-album h1 span {
    font-size: 2em;
  }
  .photo-album .img2 {
    display: none;
  }
  .photo-album .img10 {
    display: none;
  }
  .photo-album .img15 {
    display: none;
  }
  .photo-album .large {
    width: 200px;
    height: 200px;
  }
  .photo-album .large img {
    width: auto;
    height: 180px;
  }
  .photo-album .medium {
    width: 150px;
    height: 150px;
  }
  .photo-album .medium img {
    width: auto;
    height: 130px;
  }
  .photo-album .small {
    width: 120px;
    height: 120px;
  }
  .photo-album .small img {
    width: auto;
    height: 100px;
  }
  .photo-album .img1 {
    bottom: 2em;
    left: 250px;
  }
  .photo-album .img3 {
    left: 50px;
  }
  .photo-album .img4 {
    left: 180px;
  }
  .photo-album .img5 {
    width: 150px;
    height: 150px;
    left: 430px;
  }
  .polaroid img {
    width: auto;
    height: 130px;
  }
  .photo-album .img6 {
    right: 0;
    left: 550px;
    bottom: 100px;
  }
  .photo-album .img7 {
    left: 550px;
  }
  .photo-album .img8 {
    top: 100px;
  }
  .photo-album .img9 {
    left: 50px;
  }
  .photo-album .img11 {
    top: 0px;
    right: 140px;
  }
  .photo-album .img12 {
    left: 450px;
  }
  .cabecerajovenes h2 {
    font-size: 3em;
  }
  .cabecerajovenes h3 {
    font-size: 2em;
    margin: 0.5em;
  }
  .cabecerajovenes p {
    font-size: 1em;
    margin: 0 2em;
  }
  .ministeriojovenes .eventojoven {
    font-size: 2.5em;
  }
  .ministeriojovenes .eventojovenes {
    min-width: 100px;
    max-width: 450px;
  }
  .eventojovenes figcaption {
    top: 90%;
  }
  .eventojovenes:hover figcaption,
  .eventojovenes.hover figcaption {
    top: 100px;
  }
  .eventojovenes h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  .mainministerios .sectionministerios {
    height: 50vh;
  }
  .sectionministerios .imgbanner {
    height: 50vh;
  }
  .sectionministerios h1 {
    font-size: 4em;
  }
  .cardministerios {
    width: 10em;
    height: 12em;
    margin-top: 12em;
  }
  .cardministerios .front h3 {
    font-size: 1em;
  }
  .cardministerios .front h4 {
    font-size: 0.8em;
  }
  .cardministerios .back h3 {
    font-size: 1em;
  }
  .cardministerios .back p {
    font-size: 0.7em;
  }
  .sectionministerios .h2 {
    font-size: 1.5;
    text-align: center;
  }
  .sectionministerios .actividadkid {
    flex-direction: column;
  }
  .sectionministerios .actividadleft {
    margin: 1em 0;
    width: 100%;
  }
  .sectionministerios .actividadright {
    width: 100%;
    height: auto;
  }
  .actividadkid .h3 {
    font-size: 1.3em;
    text-align: center;
  }
  .actividadkid .p {
    font-size: 1em;
    text-align: center;
  }
  .photo-album {
    width: 100%;
    height: 50vh;
    margin: 35em 0 0em 0;
  }
  .photo-album h1 {
    top: 10px;
    left: 5px;
  }
  .photo-album h1 span {
    font-size: 1.5em;
  }
  .photo-album .img1 {
    bottom: 22em;
    left: 280px;
  }
  .photo-album .img3 {
    left: 20px;
    top: 100px;
  }
  .photo-album .img4 {
    left: 100px;
  }
  .photo-album .img5 {
    left: 20px;
    bottom: 300px;
  }
  .photo-album .img6 {
    left: 160px;
    bottom: 300px;
  }
  .photo-album .img7 {
    display: none;
  }
  .photo-album .img8 {
    left: 200px;
  }
  .photo-album .img9 {
    display: none;
  }
  .photo-album .img11 {
    right: 50px;
    top: 80px;
  }
  .photo-album .img12 {
    left: 300px;
    top: 170px;
  }
  .photo-album .img14 {
    left: 100px;
  }
  .photo-album .img15 {
    display: none;
  }
  .sectionministerios .imgjovenes {
    height: 50vh;
  }
  .cabecerajovenes h2 {
    font-size: 1.5em;
  }
  .cabecerajovenes h3 {
    font-size: 1.2em;
    text-align: center;
  }
  .cabecerajovenes p {
    font-size: 0.9em;
    margin: 0 0.5em;
    padding: 0.5em;
  }
  .ministeriojovenes .eventojoven {
    font-size: 1.5em;
  }
  .ministeriojovenes .eventojovenes {
    min-width: 100px;
    max-width: 300px;
  }
  .eventojovenes figcaption {
    top: 85%;
  }
  .eventojovenes h4 {
    font-size: 0.9em;
  }
  .eventojovenes p {
    font-size: 0.8em;
  }
  .eventojovenes:hover figcaption,
  .eventojovenes.hover figcaption {
    top: 50px;
  }
  .eventojovenes h3 {
    font-size: 1em;
  }
}
/* CONTACTO */
.maincontacto {
  width: 100%;
  height: 86vh;
  position: relative;
  padding-top: 7em;
}

.form_wrap {
  width: 1050px;
  height: 530px;
  margin: 50px auto;
  display: flex;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/
.cantact_info::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #2b364a;
  opacity: 0.9;
}

.cantact_info {
  width: 38%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: #fff;
}

.info_title {
  margin-bottom: 4em;
}

.info_title h2 {
  font-family: var(--tipo-principal);
  font-size: 2.5em;
  text-align: center;
}

.info_items p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-family: var(--tipo-secundaria);
}

/* Formulario de contacto*/
form.form_contact {
  width: 62%;
  padding: 30px 40px;
}

form.form_contact h2 {
  font-size: 25px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 30px;
}

form.form_contact .user_info {
  display: flex;
  flex-direction: column;
}

form.form_contact label {
  font-weight: 600;
}

form.form_contact input,
form.form_contact textarea {
  width: 100%;
  padding: 8px 0px 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: "Open sans";
  color: #5A5A5A;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 90px;
}

form.form_contact input[type=button] {
  width: 180px;
  background: #2b364a;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: #fff;
  font-family: var(--tipo-secundaria);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

form.form_contact input[type=button]:hover {
  background: #2b364a;
}

@media screen and (max-width: 768px) {
  .form_wrap {
    width: 700px;
    height: 300px;
  }
  .info_title h2 {
    font-size: 2em;
  }
  form.form_contact {
    padding: 10px 20px;
  }
  form.form_contact h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  form.form_contact input,
  form.form_contact textarea {
    margin-bottom: 0;
    padding: 4px 0;
  }
  form.form_contact input[type=button] {
    width: 150px;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .maincontacto {
    height: auto;
  }
  .form_wrap {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    margin: 10px auto;
  }
  .cantact_info {
    width: 100%;
  }
  .info_title h2 {
    font-size: 1.5em;
  }
  .info_items p {
    font-size: 1em;
  }
  form.form_contact {
    width: 100%;
  }
  form.form_contact .user_info {
    padding: 1em 0;
  }
  form.form_contact label {
    padding: 1em 0;
  }
}

/*# sourceMappingURL=main.css.map */
